form(method='POST', action='/users')
    div
        input(id='firstName', name='firstName', placeholder='First Name')
    div
        input(id='lastName', name='lastName', placeholder='Last Name')
    div
        input(id='age', name='age', placeholder='Age')
    div
        input(id='email', name='email', type='email', placeholder='Email')
    div
        input(type='submit', value='Add User')